body {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: #eee;
	padding: 30px;
}

header {
	position: absolute;
	top: 0;
	width: 100vw;
	background: none;
	height: 30px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: middle;
}

.github-link {
	font-size: 16px;
	color: rgb(60, 60, 60);
}

.github-link:hover {
	color: rgb(60, 60, 60);
}

.main-container {
	background-color: white;
	border-radius: 5px;
	width: 800px;
	padding: 30px;
	max-height: calc(100vh - 60px);
	overflow-y: auto;
}

.user-menu-link {
	font-size: 24px;
	text-decoration: none;
}

.user-menu-icon:before {
	padding-bottom: 3px;
	padding-left: 3px;
}

.user-menu-name {
	font-size: 24px;
}

.go-back-button {
	position: absolute;
	top: 30px;	
	right: 30px;
}

.logout-button:active {
	background-color: #dc3545 !important;
	color: white !important;
}

.note {
	background-color: rgb(200, 200, 200, 0.1);
	border-radius: 5px;
	margin: 20px 0;
	padding: 10px;
}

.note-title {
	font-size: 24px;
	color: black;
	text-decoration: none;
}

.note-content {
	white-space: pre-wrap;
	max-height: 200px;
	overflow-y: scroll;
}

.empty-note {
	background-color: rgb(200, 200, 200, 0.1);
	border-radius: 5px;
	width: 100%;
	padding: 10px;
	margin: 20px 0;
}

.edit-link {
	color: blue;
}

.edit-link:hover {
	color: rgb(100, 100, 255);
}

.del-link {
	color: red;
}

.del-link:hover {
	color: rgb(255, 100, 100);
}

.bi-eye-fill:hover, .bi-eye-slash-fill:hover {
	cursor: pointer;
}

.no-border-left-radius {
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}

.no-border-right-radius {
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}