body {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: #eee;
	padding: 30px;
}

.main-container {
	background-color: white;
	border-radius: 5px;
	width: 600px;
	padding: 30px;
}

.note {
	background-color: rgb(200, 200, 200, 0.1);
	border-radius: 5px;
	margin: 20px 0;
	padding: 10px;
}

.note-title {
	font-size: 24px;
	color: black;
}

.note-content {
	white-space: pre-wrap;	
}

.empty-note {
	background-color: rgb(200, 200, 200, 0.1);
	border-radius: 5px;
	width: 100%;
	padding: 10px;
	margin: 20px 0;
}