body {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: #eee;
	padding: 30px;
}

header {
	position: absolute;
	top: 0;
	width: 100vw;
	background: none;
	height: 30px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: middle;
}

.github-link {
	font-size: 16px;
	color: rgb(60, 60, 60);
}

.github-link:hover {
	color: rgb(60, 60, 60);
}

.main-container {
	background-color: white;
	border-radius: 5px;
	width: 800px;
	padding: 30px;
	max-height: calc(100vh - 60px);
	overflow-y: scroll
}

.note {
	background-color: rgb(200, 200, 200, 0.1);
	border-radius: 5px;
	margin: 20px 0;
	padding: 10px;
}

.note-title {
	font-size: 24px;
	color: black;
	text-decoration: none;
}

.note-content {
	white-space: pre-wrap;
	max-height: 200px;
	overflow-y: scroll;
}

.empty-note {
	background-color: rgb(200, 200, 200, 0.1);
	border-radius: 5px;
	width: 100%;
	padding: 10px;
	margin: 20px 0;
}

.edit-link {
	color: blue;
}

.edit-link:hover {
	color: rgb(100, 100, 255);
}

.del-link {
	color: red;
}

.del-link:hover {
	color: rgb(255, 100, 100);
}